In [1]:
import pandas as pd
import numpy as np
import datetime

# 1. Combine all available master data

In [ ]:
df1= pd.read_csv('/content/drive/MyDrive/CSCI 5502 Data Mining/01 Project/Data/00_Master_Data/01_Bcycle_data_to_date_Start_11_23.csv')
df2= pd.read_csv('/content/drive/MyDrive/CSCI 5502 Data Mining/01 Project/Data/00_Master_Data/02_Bcycle_data_to_date_11_26_12_03.csv')

In [ ]:
print(1,'-> Min:',min(df1['datatime_mtd']),'-> Max:',max(df1['datatime_mtd']))
print(2,'-> Min:',min(df2['datatime_mtd']),'-> Max:',max(df2['datatime_mtd']))

1 -> Min: 10-16-23 19:45:03 -> Max: 11-23-23 15:26:27
2 -> Min: 11-26-23 10:55:09 -> Max: 12-03-23 10:41:43

In [ ]:
df1['datatime_mtd'] = pd.to_datetime(df1['datatime_mtd'], format='%m-%d-%y %H:%M:%S')
df1['datatime_mtd'].dt.date.unique()

array([datetime.date(2023, 10, 16), datetime.date(2023, 10, 17),
       datetime.date(2023, 10, 18), datetime.date(2023, 10, 19),
       datetime.date(2023, 10, 30), datetime.date(2023, 10, 31),
       datetime.date(2023, 11, 1), datetime.date(2023, 11, 2),
       datetime.date(2023, 11, 3), datetime.date(2023, 11, 4),
       datetime.date(2023, 11, 5), datetime.date(2023, 11, 6),
       datetime.date(2023, 11, 7), datetime.date(2023, 11, 8),
       datetime.date(2023, 11, 9), datetime.date(2023, 11, 10),
       datetime.date(2023, 11, 14), datetime.date(2023, 11, 15),
       datetime.date(2023, 11, 16), datetime.date(2023, 11, 17),
       datetime.date(2023, 11, 18), datetime.date(2023, 11, 19),
       datetime.date(2023, 11, 20), datetime.date(2023, 11, 21),
       datetime.date(2023, 11, 22), datetime.date(2023, 11, 23)],
      dtype=object)

In [ ]:
df2['datatime_mtd'] = pd.to_datetime(df2['datatime_mtd'], format='%m-%d-%y %H:%M:%S')
df2['datatime_mtd'].dt.date.unique()

array([datetime.date(2023, 11, 26), datetime.date(2023, 11, 27),
       datetime.date(2023, 11, 28), datetime.date(2023, 11, 29),
       datetime.date(2023, 12, 2), datetime.date(2023, 12, 3)],
      dtype=object)

In [ ]:
df = pd.concat([df1,df2])
print("Dates -> Min:",min(df['datatime_mtd']),'-> Max:',max(df['datatime_mtd']))
df.shape

Dates -> Min: 2023-10-16 19:45:03 -> Max: 2023-12-03 10:41:43

(1405566, 17)

In [ ]:
df.to_csv('/content/drive/MyDrive/CSCI 5502 Data Mining/01 Project/Data/00_Master_Data/00_Bcycle_data_to_date_Updated_Max.csv',index=False)

# 2. Select days with reasonable amount of values

In [29]:
df= pd.read_csv('/content/drive/MyDrive/CSCI 5502 Data Mining/01 Project/Data/00_Master_Data/00_Bcycle_data_to_date_Updated_Max.csv')

In [30]:
df['datatime_mtd'] = pd.to_datetime(df['datatime_mtd'], format='%Y-%m-%d %H:%M:%S')
df['datatime_mtd'].dt.date.unique()

array([datetime.date(2023, 10, 16), datetime.date(2023, 10, 17),
       datetime.date(2023, 10, 18), datetime.date(2023, 10, 19),
       datetime.date(2023, 10, 30), datetime.date(2023, 10, 31),
       datetime.date(2023, 11, 1), datetime.date(2023, 11, 2),
       datetime.date(2023, 11, 3), datetime.date(2023, 11, 4),
       datetime.date(2023, 11, 5), datetime.date(2023, 11, 6),
       datetime.date(2023, 11, 7), datetime.date(2023, 11, 8),
       datetime.date(2023, 11, 9), datetime.date(2023, 11, 10),
       datetime.date(2023, 11, 14), datetime.date(2023, 11, 15),
       datetime.date(2023, 11, 16), datetime.date(2023, 11, 17),
       datetime.date(2023, 11, 18), datetime.date(2023, 11, 19),
       datetime.date(2023, 11, 20), datetime.date(2023, 11, 21),
       datetime.date(2023, 11, 22), datetime.date(2023, 11, 23),
       datetime.date(2023, 11, 26), datetime.date(2023, 11, 27),
       datetime.date(2023, 11, 28), datetime.date(2023, 11, 29),
       datetime.date(2023, 12, 2), datetime.date(2023, 12, 3)],
      dtype=object)

In [31]:
date_filter = [datetime.date(2023, 10, 31), datetime.date(2023, 11, 1),datetime.date(2023, 11, 2),datetime.date(2023, 11, 3),datetime.date(2023, 11, 4),datetime.date(2023, 11, 5),datetime.date(2023, 11, 6),datetime.date(2023, 11, 7),datetime.date(2023, 11, 8),datetime.date(2023, 11, 9),datetime.date(2023, 11, 10),datetime.date(2023, 11, 14),datetime.date(2023, 11, 17),datetime.date(2023, 11, 18),datetime.date(2023, 11, 19),datetime.date(2023, 11, 20),datetime.date(2023, 11, 21),datetime.date(2023, 11, 22),datetime.date(2023, 11, 23),datetime.date(2023, 11, 24),datetime.date(2023, 11, 25),datetime.date(2023, 11, 26),datetime.date(2023, 11, 27),datetime.date(2023, 11, 28),datetime.date(2023, 11, 29),datetime.date(2023, 12, 2)]

# Fix the datetime column format
df['datatime_mtd'] = pd.to_datetime(df['datatime_mtd'], format='%m-%d-%y %H:%M:%S')

df_filtered= df[df['datatime_mtd'].dt.date.isin(date_filter)]
df_filtered['datatime_mtd'].dt.date.unique()

array([datetime.date(2023, 10, 31), datetime.date(2023, 11, 1),
       datetime.date(2023, 11, 2), datetime.date(2023, 11, 3),
       datetime.date(2023, 11, 4), datetime.date(2023, 11, 5),
       datetime.date(2023, 11, 6), datetime.date(2023, 11, 7),
       datetime.date(2023, 11, 8), datetime.date(2023, 11, 9),
       datetime.date(2023, 11, 10), datetime.date(2023, 11, 14),
       datetime.date(2023, 11, 17), datetime.date(2023, 11, 18),
       datetime.date(2023, 11, 19), datetime.date(2023, 11, 20),
       datetime.date(2023, 11, 21), datetime.date(2023, 11, 22),
       datetime.date(2023, 11, 23), datetime.date(2023, 11, 26),
       datetime.date(2023, 11, 27), datetime.date(2023, 11, 28),
       datetime.date(2023, 11, 29), datetime.date(2023, 12, 2)],
      dtype=object)

# 3. Create CU Class Status Column

In [32]:
data = df_filtered.copy()

In [33]:
data['datatime_mtd'] = pd.to_datetime(data['datatime_mtd'], format='%m-%d-%y %H:%M:%S')

# Fill other holidays
def external_holidays(date_):  # Returns "No Class" if weekends, "No Class" if other holidays and "Regular" otherwise
  if(date_.day_name() == 'Sunday' or date_.day_name() == 'Saturday'):
    return 'No Class'
  elif(date_ >= datetime.date(2023, 11, 18) and date_ <= datetime.date(2023, 11, 26)):
    return 'No Class'
  else:
    return "Regular"

data['cu_class_status'] = data['datatime_mtd'].apply(external_holidays)
data['cu_class_status'].value_counts()

<ipython-input-33-16bc84289baf>:7: FutureWarning: Comparison of Timestamp with datetime.date is deprecated in order to match the standard library behavior. In a future version these will be considered non-comparable. Use 'ts == pd.Timestamp(date)' or 'ts.date() == date' instead.
  elif(date_ >= datetime.date(2023, 11, 18) and date_ <= datetime.date(2023, 11, 26)):

Regular     882144
No Class    396846
Name: cu_class_status, dtype: int64

In [34]:
data.shape

(1278990, 18)

#4. Handle the impact of missing dates

In [40]:
df= data.copy()
df.shape

(1278990, 18)

Format, roundoff and remove duplicate Datetime first

In [41]:
# Fix the datetime column format
df['datatime_mtd'] = pd.to_datetime(df['datatime_mtd'], format='%m-%d-%y %H:%M:%S')

# Round off the datatime to the previous ideal time interval (3 or 1 min)
time_interval_to_round= 3
df['datatime_mtd'] = pd.to_datetime(df['datatime_mtd'], format='%Y-%m-%d %H:%M:%S')
df['datatime_rnd'] = df['datatime_mtd'].apply(lambda x: x - pd.to_timedelta(x.minute % time_interval_to_round, unit='m') - pd.to_timedelta(x.second, unit='s')) # This rounds off the minute and makes the seconds zero

# Remove duplicates
df.drop_duplicates(subset=['station_id', 'datatime_rnd'], keep='first', inplace=True)
  # print("Number of duplicates:", df.duplicated(subset=['station_id', 'datatime_rnd']).sum()) # To check duplicates
  # print("Number of duplicates per combination:\n\n", df.groupby(['station_id', 'datatime_rnd']).size().reset_index(name='count_of_duplicates').sort_values(by='count_of_duplicates', ascending=False)) # To check duplicates per combination
'''
  #Alternate way: Just make the seconds zero and multiply the numerator of minute divided by [req_time_interval] with [req_time_interval]

  req_time_interval= 3
  df[min_rounded] = int(df['min']/req_time_interval) * req_time_interval
'''
# Split dates and times of from the rounded off datatime

df['date_rnd']= df['datatime_rnd'].dt.date
df['year_rnd'] = df['datatime_rnd'].dt.year
df['month_rnd'] = df['datatime_rnd'].dt.month
df['day_rnd'] = df['datatime_rnd'].dt.day
df['day_of_week_rnd'] = df['datatime_rnd'].dt.day_name()
df['time_rnd']= df['datatime_rnd'].dt.time
df['hour_rnd'] = df['datatime_rnd'].dt.hour
df['minute_rnd'] = df['datatime_rnd'].dt.minute
df['second_rnd'] = df['datatime_rnd'].dt.second

df.head(5)

,station_last_updated,status_last_reported,station_id,station_name,station_address,station_longitude,station_latitude,station_is_returning,station_is_renting,station_is_installed,...,datatime_rnd,date_rnd,year_rnd,month_rnd,day_rnd,day_of_week_rnd,time_rnd,hour_rnd,minute_rnd,second_rnd
76518,1698732017,1698732020,bcycle_boulder_1855,Folsom & Colorado,SE corner of Folsom & Colorado,-105.26385,40.00811,1,1,1,...,2023-10-31,2023-10-31,2023,10,31,Tuesday,00:00:00,0,0,0
76519,1698732017,1698732020,bcycle_boulder_1858,15th & Pearl,15th Street & Pearl Street,-105.27584,40.01872,1,1,1,...,2023-10-31,2023-10-31,2023,10,31,Tuesday,00:00:00,0,0,0
76520,1698732017,1698732020,bcycle_boulder_1859,11th & Pearl,11th Street & Pearl Street,-105.28116,40.01747,1,1,1,...,2023-10-31,2023-10-31,2023,10,31,Tuesday,00:00:00,0,0,0
76521,1698732017,1698732020,bcycle_boulder_1860,13th & Spruce,13th Street & Spruce Street,-105.27890,40.01909,1,1,1,...,2023-10-31,2023-10-31,2023,10,31,Tuesday,00:00:00,0,0,0
76522,1698732017,1698732020,bcycle_boulder_1861,UCAR Center Green,3080 Center Green Drive,-105.24611,40.03154,1,1,1,...,2023-10-31,2023-10-31,2023,10,31,Tuesday,00:00:00,0,0,0

In [42]:
df.shape

(535140, 28)

Select only continuously available (every 3mins interval) datatimes

In [ ]:
def extract_continuous_datetime(time_buffer_mins,datetime_list):
  continuous_datetimes=[]
  parts=[]
  for i in range(len(datetime_list)-1):
    if(i==len(datetime_list)-2):
      parts.append(datetime_list[i])
      parts.append(datetime_list[i+1])
      continuous_datetimes.append(parts)
      break
    if(datetime_list[i+1]-datetime_list[i]<=np.timedelta64(time_buffer_mins, 'm')):
      parts.append(datetime_list[i])
    else:
      parts.append(datetime_list[i])
      continuous_datetimes.append(parts)
      parts=[]
  return continuous_datetimes

time_buffer_mins=60
datetime_list= df['datatime_rnd'].unique()
continuous_datetimes = extract_continuous_datetime(time_buffer_mins,datetime_list)
continuous_datetimes

In [44]:
len(continuous_datetimes)

6

For every continuously available data, seperately calculate new cycles and docks available, next_avl_bike_timeand next_avl_dock_time, and wait times

In [ ]:
# Add station capacity = docks + bikes available
df['station_capacity']= df['docks_available'] + df['bikes_available']

# Sort the date by datetime
df = df.sort_values(by='datatime_mtd')

final_data= pd.DataFrame()
df_backup= df.copy()
data_all= df.copy()
for datetimes in continuous_datetimes:
  df=data_all[data_all['datatime_rnd'].isin(datetimes)]
  grouped_df = df.groupby(['station_id', 'datatime_mtd']).agg({'docks_available': 'sum', 'bikes_available': 'sum'}).reset_index()
  # Calculate the differences with the previous row and handle the cases when it's NULL or <= 0
  grouped_df['new_docks_available'] = grouped_df['docks_available'].diff().fillna(0).clip(lower=0).astype(int)
  grouped_df['new_bikes_available'] = grouped_df['bikes_available'].diff().fillna(0).clip(lower=0).astype(int)

  # Outer join tables
  df_updated= pd.merge(df, grouped_df, left_on=['station_id','datatime_mtd'], right_on=['station_id','datatime_mtd'], how='outer')
  if(df_updated.isna().sum().sum() == 0):
    print("Join Successfull!!")
  else:
    print("Join Failed: Nulls in the data indicates the grouped data has less number of entries")
  # Rename, remove unwanted and rearrange columns
  df_updated.rename(columns={'docks_available_x': 'docks_available', 'bikes_available_x': 'bikes_available'}, inplace=True)
  df_updated = df_updated[['cu_class_status','station_last_updated', 'status_last_reported', 'station_id', 'station_name', 'station_address', 'station_longitude', 'station_latitude', 'station_is_returning', 'station_is_renting', 'station_is_installed', 'station_type', 'docks_available', 'bikes_available', 'electic_bikes_available', 'smart_bikes_available', 'classic_bikes_available', 'station_capacity', 'new_docks_available', 'new_bikes_available', 'datatime_mtd','datatime_rnd', 'date_rnd', 'year_rnd', 'month_rnd', 'day_rnd', 'day_of_week_rnd', 'time_rnd', 'hour_rnd', 'minute_rnd', 'second_rnd']]

  df=df_updated.copy()

  # Sort the data by datetime
  df.sort_values(by=['datatime_rnd'],inplace=True)
  df.reset_index(inplace=True, drop=True)

  # Calculate the next available bike and dock time for each station
  def cal_next_avl_time(all_times, avl_times):
    next_avl_time=[]
    i=0
    j=0
    while j<len(avl_times) and i<len(all_times):
      if (all_times[i]< avl_times[j]):
        next_avl_time.append(avl_times[j])
        i+=1
      else:
        j+=1
    next_avl_time += [None]*(len(all_times)-len(next_avl_time))
    return next_avl_time

  # Calculate next available bike time
  for i in df.station_id.unique():
    mask = df['station_id']==i
    data= df[mask]
    all_times= data['datatime_rnd'].values
    avl_times = data[data['new_bikes_available']>0]['datatime_rnd'].values
    df.loc[df['station_id']==i, 'next_avl_bike_time'] = cal_next_avl_time(all_times, avl_times)

  # Calculate next available dock time
  for i in df.station_id.unique():
    mask = df['station_id']==i
    data= df[mask]
    all_times= data['datatime_rnd'].values
    avl_times = data[data['new_docks_available']>0]['datatime_rnd'].values
    df.loc[df['station_id']==i, 'next_avl_dock_time'] = cal_next_avl_time(all_times, avl_times)


  # Calculate the wait times

  # Convert the datatime columns to from string to datetime format
  df['datatime_rnd'] = pd.to_datetime(df['datatime_rnd'], format='%Y-%m-%d %H:%M:%S')
  df['next_avl_bike_time'] = pd.to_datetime(df['next_avl_bike_time'], format='%Y-%m-%d %H:%M:%S')
  df['next_avl_dock_time'] = pd.to_datetime(df['next_avl_dock_time'], format='%Y-%m-%d %H:%M:%S')

  # Calculate the bike wait time
  df['bike_wait_time'] = (df['next_avl_bike_time'] - df['datatime_rnd']).dt.total_seconds() / 60

  # Calculate the dock wait time
  df['dock_wait_time'] = (df['next_avl_dock_time'] - df['datatime_rnd']).dt.total_seconds() / 60

  if(len(final_data)==0):
    final_data= df
  else:
    final_data=pd.concat([final_data,df])

print(final_data.shape)

In [46]:
final_data['date_rnd'].unique()

array([datetime.date(2023, 10, 31), datetime.date(2023, 11, 1),
       datetime.date(2023, 11, 2), datetime.date(2023, 11, 3),
       datetime.date(2023, 11, 4), datetime.date(2023, 11, 5),
       datetime.date(2023, 11, 6), datetime.date(2023, 11, 7),
       datetime.date(2023, 11, 8), datetime.date(2023, 11, 9),
       datetime.date(2023, 11, 10), datetime.date(2023, 11, 14),
       datetime.date(2023, 11, 17), datetime.date(2023, 11, 18),
       datetime.date(2023, 11, 19), datetime.date(2023, 11, 20),
       datetime.date(2023, 11, 21), datetime.date(2023, 11, 22),
       datetime.date(2023, 11, 23), datetime.date(2023, 11, 26),
       datetime.date(2023, 11, 27), datetime.date(2023, 11, 28),
       datetime.date(2023, 11, 29), datetime.date(2023, 12, 2)],
      dtype=object)

Drop nulls in the Next avl time + wait time columns- as it is because of unavailablity of future data. This needs to be deleted as it does not contain the target value and it cannot it assumed.

Replace nulls in the new_docks and bikes avl column- as it is because of unavailability of previous datetime data- it can be safely assumed zero- this is already covered.

In [47]:
df=final_data.copy()
df.shape

(535140, 35)

In [55]:
df.isna().sum()
#df[['station_id','datatime_rnd','new_bikes_available','new_docks_available','bike_wait_time','dock_wait_time']].head()

cu_class_status                0
station_last_updated           0
status_last_reported           0
station_id                     0
station_name                   0
station_address                0
station_longitude              0
station_latitude               0
station_is_returning           0
station_is_renting             0
station_is_installed           0
station_type                   0
docks_available                0
bikes_available                0
electic_bikes_available        0
smart_bikes_available          0
classic_bikes_available        0
station_capacity               0
new_docks_available            0
new_bikes_available            0
datatime_mtd                   0
datatime_rnd                   0
date_rnd                       0
year_rnd                       0
month_rnd                      0
day_rnd                        0
day_of_week_rnd                0
time_rnd                       0
hour_rnd                       0
minute_rnd                     0
second_rnd                     0
next_avl_bike_time         29852
next_avl_dock_time         32454
bike_wait_time             29852
dock_wait_time             32454
dtype: int64

In [57]:
df.dropna(inplace=True)
df.isna().any().any()

False

In [58]:
df.shape

(494763, 35)

In [60]:
df.to_csv('/content/drive/MyDrive/CSCI 5502 Data Mining/01 Project/Data/01_Preprocessed_Data/01_Master_Analysis_Data_10_16_12_02',index=False)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 494763 entries, 0 to 13369
Data columns (total 35 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   cu_class_status          494763 non-null  object
 1   station_last_updated     494763 non-null  int64
 2   status_last_reported     494763 non-null  int64
 3   station_id               494763 non-null  object
 4   station_name             494763 non-null  object
 5   station_address          494763 non-null  object
 6   station_longitude        494763 non-null  float64
 7   station_latitude         494763 non-null  float64
 8   station_is_returning     494763 non-null  int64
 9   station_is_renting       494763 non-null  int64
 10  station_is_installed     494763 non-null  int64
 11  station_type             494763 non-null  object
 12  docks_available          494763 non-null  int64
 13  bikes_available          494763 non-null  int64
 14  electic_bikes_available  494763 non-null  int64
 15  smart_bikes_available    494763 non-null  int64
 16  classic_bikes_available  494763 non-null  int64
 17  station_capacity         494763 non-null  int64
 18  new_docks_available      494763 non-null  int64
 19  new_bikes_available      494763 non-null  int64
 20  datatime_mtd             494763 non-null  datetime64[ns]
 21  datatime_rnd             494763 non-null  datetime64[ns]
 22  date_rnd                 494763 non-null  object
 23  year_rnd                 494763 non-null  int64
 24  month_rnd                494763 non-null  int64
 25  day_rnd                  494763 non-null  int64
 26  day_of_week_rnd          494763 non-null  object
 27  time_rnd                 494763 non-null  object
 28  hour_rnd                 494763 non-null  int64
 29  minute_rnd               494763 non-null  int64
 30  second_rnd               494763 non-null  int64
 31  next_avl_bike_time       494763 non-null  datetime64[ns]
 32  next_avl_dock_time       494763 non-null  datetime64[ns]
 33  bike_wait_time           494763 non-null  float64
 34  dock_wait_time           494763 non-null  float64
dtypes: datetime64[ns](4), float64(4), int64(19), object(8)
memory usage: 135.9+ MB

In [63]:
df.columns

Index(['cu_class_status', 'station_last_updated', 'status_last_reported',
       'station_id', 'station_name', 'station_address', 'station_longitude',
       'station_latitude', 'station_is_returning', 'station_is_renting',
       'station_is_installed', 'station_type', 'docks_available',
       'bikes_available', 'electic_bikes_available', 'smart_bikes_available',
       'classic_bikes_available', 'station_capacity', 'new_docks_available',
       'new_bikes_available', 'datatime_mtd', 'datatime_rnd', 'date_rnd',
       'year_rnd', 'month_rnd', 'day_rnd', 'day_of_week_rnd', 'time_rnd',
       'hour_rnd', 'minute_rnd', 'second_rnd', 'next_avl_bike_time',
       'next_avl_dock_time', 'bike_wait_time', 'dock_wait_time'],
      dtype='object')

In [64]:
df['date_rnd'].unique()

array([datetime.date(2023, 10, 31), datetime.date(2023, 11, 1),
       datetime.date(2023, 11, 2), datetime.date(2023, 11, 3),
       datetime.date(2023, 11, 4), datetime.date(2023, 11, 5),
       datetime.date(2023, 11, 6), datetime.date(2023, 11, 7),
       datetime.date(2023, 11, 8), datetime.date(2023, 11, 9),
       datetime.date(2023, 11, 10), datetime.date(2023, 11, 14),
       datetime.date(2023, 11, 17), datetime.date(2023, 11, 18),
       datetime.date(2023, 11, 19), datetime.date(2023, 11, 20),
       datetime.date(2023, 11, 21), datetime.date(2023, 11, 22),
       datetime.date(2023, 11, 23), datetime.date(2023, 11, 26),
       datetime.date(2023, 11, 27), datetime.date(2023, 11, 28),
       datetime.date(2023, 11, 29), datetime.date(2023, 12, 2)],
      dtype=object)